body{
    background-color:rgb(104, 173, 87);
    font-family: 'Roboto', sans-serif;
    
}

.PRIN1{
    margin: 2px 19px 11px 19px ;
    padding: 16px;
    display: block;
    width:300px;
    background-color:  rgb(16, 99, 19);
    border-radius: 10px;
    border: solid #000000;
    box-shadow: 6px 8px 13px 1px;
   
    
}


.divi{
    display: flex;
    padding: 14px;
    margin-left: 0px;
    background-color: rgb(211, 92, 207);
    border-left-style: outset;
}

input,select{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: limegreen;
}

input[type="submit"]{
    cursor: pointer;
}

.secti{
    box-shadow: 5px 1px 9px 4px;
    padding: 10px 16px 0px 16px;
    border-radius: 15px;
    background-color: white;
}



.divprin{
    display: flex;
    width: 600px;
    justify-content: left;
}

table{
    display: table;
    border: solid;
    border-radius: 20px;
    background-color: ghostwhite;
    border-collapse: collapse;
    border: hidden;
    border-radius: 20px;
    
}

h2{
    display: flex;
    margin: 10px;
    padding: 14px;
}


.footer{
    display: flex;
    background-color: rgb(211, 92, 207);
    padding: 17px 0px 13px 9px;
    border-bottom: ridge;
}

footer{
    display: flex;
}


th,td{
    padding: 10px;
    border: solid;
    text-align: center;
    
}
th{
    text-transform: uppercase;
}
    td:hover{
        background-color:  rgb(16, 99, 19);
    }

tr:hover{
font-size: 17px;
cursor: copy;
}


.prin2{
    display: block;
    float: right;
    
}
.q{
display: flex;
margin: 30px;
}
.q2{
    margin: 30px;
    display: flex;
    padding: 11px 1px 0px 0px;
}

.img{
    width: 1000px;
    padding: 13px 34px;
}